@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html{
  height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
}

.ocultar{
  visibility: hidden;
}

.imagen {
width: 116px;
height:182px;
background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97550&w=116&h=182') no-repeat;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
}

h2{
  font-family: 'Tangerine', cursive !important;
  font-size: 80px !important;
}

.logo-marca{
width: 100%;
float: right;
max-width: 40px;
}

.subir-logo{
position: absolute;
margin-top:10px;
opacity: 0;
}

.subir-imagen{
position: absolute;
margin-top:-100px;
opacity: 0;
}




.input-sm{
  border-radius: 0px !important;
}

.form-control{
  font-size: 15px;

  box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
  border-top: 1px solid #FFF !important;
  border-left: 1px solid #FFF !important;
  border-right: 1px solid #FFF !important;
  border-bottom: 2px solid #E6E6E6 !important;
  padding-left: 4px;
  padding-top:15px;
  padding-bottom:15px;
}

.enviar{
padding-top:20px;
}

.btn-primary{
  background-color: #753E63 !important;
  border-color: #753E63 !important;
  border-radius: 0px !important;
  color:#FFF !important;
}

.producto-lista{
padding-bottom:5px;
}

.numero_producto{
  color: #753E63;
  font-weight: 600;
}

.icono-nueva-carta{
  padding-right: 1px;
}

.botones-nueva-carta{
  padding-left: 1px;
}

.botones-nueva-carta table, .icono-nueva-carta > div{
  width:100%;
  margin-top:35px;
}

.icono-nueva-carta > div{
background-color: #925D81;
color: #FFF;
padding: 5px;
height: 60px;
}

.botones-nueva-carta td{
  width:12.5%;

}

.botones-nueva-carta td div{
  height: 30px;
  padding-top: 5px;
  color: #FFF;
  text-align: center;
  border:1px solid #FFF;
  background-color: #753E63;
}

.botones-nueva-carta td div:hover{
  background-color: #925D81;
}

#titulo_carta{
  font-size:40px;
  font-family: 'Lato', sans-serif;
  padding:10px;
  margin-bottom: 25px;
  border-radius: 0px;
  font-weight: 100;
  letter-spacing: 4px;
}

/**Ribbon*/

.ribbon {
 font-size: 13px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 width: 50%;
 position: relative;
 background: #934E56;
 color: #fff;
 text-align: center;
 padding: 12px;/* Adjust to suit */
 margin-bottom:18px;
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #722F37;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
 display: none;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #5B1921 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
  display: none;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

/**Fin Ribbon*/
.tabla-linea{
  margin-left: -5px;
  padding:10px;
  border-bottom: 1px solid #BDBDBD;
}

.tabla-cabecera > div{
  background-color: #934E56;
  color: #FFF;
}
.tabla-cabecera{
  padding-left: 10px;
}

a{
  color:#1C1C1C;
}

.btn-actualizar{
  margin: 10px 0 10px 0;
}
